# Python-Bytecode / Caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / Packaging
build/
dist/
*.egg-info/

# Virtuelle Umgebungen
.venv/
venv/
env/

# IDE / Editor
.vscode/
.idea/
*.swp
